extends layout

block content

  h1 Brand: #{brand.name}

  div(style='margin-left:20px;margin-top:20px')

    p #[strong #{brand.ceo_name}]
    p #[strong started : #{brand.startedDate}]

    p
        a(href=brand.url+'/delete') Delete Brand
    p
    a(href=brand.url+'/update') Update Brand